* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --asphalt: #343a40;
    --red: #f44336;
}

nav {
    background-color: var(--asphalt);
    color: white;
    text-align: center;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px;
}

.nav-content:hover {
    transition: 0.4s;
    background-color: var(--red);
}

/* Media queries */
@media screen and (min-width: 600px) {
    nav {
        position: fixed;
        width: 120px;
        height: 100vh;
    }

    .nav-content {
        display: block;
    }

    div.aside-item {
        font-size: 32px;
    }
}